        #content{
           /* opacity:.3;*/
        }
        h2{
            clear:both;
            margin-bottom:0px;
            padding-top:12px;
            padding-bottom:4px;
        }
        #createCharacteristicInputs{
            margin-top:8px;
        }
        #characteristicNoteInput{
            position:fixed;
            z-index:101;
            top:35%;
            left:30%;
            border:1px solid black;
            text-align:center;
            width:400;
            height:200;
            display:none;
        }
        #hideGroupTypeNames, .listOfGroupTypes, .hideGroupTypesForPerson{
            display:none;
        }
        .allCharacteristicTypes{
            float:left;
            margin-left:16px;
        }
        .allCharacteristicNotes{
            color:grey;
            display:none;
        }
        .backLink{
            margin-right:8px;
            margin-left:8px;
        }
        .active{
            font-weight:bold;
        }
        .ancillary{
            font-weight:bold;
            margin-bottom:8px;
        }
        #characteristicTime, #characteristicDate, #characteristicString, #createCharacteristic{
            display:none;
            float:left;
        }
        .characteristicValue{
            float:left;
            margin-right:16px;
        }
        .clear{
            clear:both;
        }
        .deleteForm{
            float:left;
            margin:0px;
            margin-right:8px;
        }   
        .deleteNoteForm{
        }
        div.deleteSimpleType{
            float:left;
            text-align:center;
        }
        form.deleteSimpleType{
            float:right;
            margin:0px;
            margin-left:8px;
        }
        .groupForPerson{
            float:left;
        }
        .groupsForPerson{
            margin-left:16px;
        }
        .groupTypeName{
            padding-left:16px;
        }
        .hideCharacteristicNote{
            color:red;
            display:none;
        }
        .left{
            float:left;
        }
        .newNoteContainer{
            width:600px;
        }
        .newNoteForm{
            clear:both;
        }
        .newSimpleTypeForm{
            clear:both;
            padding-top:8px;
            margin:0px;
            margin-bottom:8px;
        }
        .noMargin{
            margin:0px;
        }
        .noteDate{
            margin-bottom:8px;
            margin-left:16px;
        }
        .noteInput{
            width:600px;
            height:150px;
        }
        .personListing{
            padding-top:8px;
            clear:both;
        }
        .profileHeading{
            clear:both;
            text-align:center;
            margin:4px;
        }
        .profileMenu{
            float:left;
            margin-right:8px;
            margin-bottom:8px;
        }
        .profileNote{
            margin-left:16px;
            font-style:italic;
        }
        .profileNoteContainer{
            background-color:lightgrey;
            margin-top:32px;
            padding-bottom:8px;
        }
        .red{
            color:red;
        }
        .right{
            float:right;
        }
        .selectCharacteristicType{
        }
        .sortList{
            margin-top:16px;
        }   
        .sortMenu{
            margin-bottom:8px;
        }
        .sortMenuItem{
            margin-left:16px;
        }
        .textButton { 
             background:none!important;
             border:none; 
             padding:0!important;
             font: inherit;
             /*border is optional*/
             cursor: pointer;
        }   
        .textButton:hover{
            text-decoration:underline;
        }
